{% load bootstrap_admin_template_tags macros mps_basic %}
{% macro render_fieldsets fieldsets level="2" %}
  {% to_int level %}
  {% for fieldset in fieldsets %}
    <fieldset class="module aligned {{ fieldset.classes }}">
      {% if fieldset.name %}<h{{ level }} class="fieldset-title">{{ fieldset.name }}</h{{ level }}>{% endif %}
      {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
      {% endif %}
      <div class="fieldset-content">
      {% if not fieldset.fieldsets|length_is:'0' %}
        {% with fieldsets=fieldset.fieldsets %}
          {% increment level new_level %}
          {% use_macro render_fieldsets fieldsets level=new_level  %}
        {% endwith %}
      {% else %}
        {% for line in fieldset %}
          {% if not line.fields|length_is:'1' %}
            <div class="field-boxes row">
              {% for field in line %}
                {% include "admin/includes/field.html" with line=line css_field_box=line|class_for_field_boxes %}
              {% endfor %}
            </div>
          {% else %}
            {% for field in line %}
              {% include "admin/includes/field.html" with line=line %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
      </div>
    </fieldset>
  {% endfor %}
{% endmacro %}
{% use_macro render_fieldsets adminform %}